/* font family + responsive*/
@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");
  @media screen and (min-width: 600px) {
    .profile-card {
      width: 30rem;
    }
  }


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  
  body {
    background: url(images/background.svg) center/cover fixed no-repeat;
    font-family: "Kumbh Sans", sans-serif;
       }
    
 /*info bas de carte*/
  h1,h2,h3,h4 {
    line-height: 1;
     }


  .section-center {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
     }
  
    /* carte*/
  .profile {
    background: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80vw;
    height: 30rem;
    border-radius: 30px;
    }
  
  .pattern-card {
    background: url(images/bg-pattern-card.svg) center/cover no-repeat;
    height: 40%;
    width: 100%;
    border-radius: 30px 30px 0px 0px;
        }
  
  .img-container {
    display: flex;
    justify-content: center;
    margin-top: 8.5rem;
    }
  
  .img-container img {
    border-radius: 50%;
    border: 0.5rem white solid;
    }
  
  .info {
    display: flex;
    flex-direction: column;
    place-items: center;
    text-align: center;
    width: 100%;
     }
  
  .name-age {
    height: 2rem;
    display: flex;
    justify-content: space-around;
    width: 50%;
    margin-top: 5rem;
    }
  
  .name {
    color: hsl(229, 23%, 23%);
     }
  
  .age {
    font-weight: 400;
    color: hsl(227, 10%, 46%);
       }
  
  .city {
    margin-top: 1rem;
    width: 50%;
    font-weight: 400;
    color: hsl(227, 10%, 46%);
    }
  
  .stats {
    color: hsl(229, 23%, 23%);
    margin-top: 3rem;
    display: flex;
    justify-content: space-around;
    width: 100%;
     }
  
  .followers h3 {
    font-size: 1rem;
    margin-top: 1rem;
    font-weight: 400;
    color: hsl(227, 10%, 46%);
    }
  
  .likes h3 {
    font-size: 1rem;
    margin-top: 1rem;
    font-weight: 400;
    color: hsl(227, 10%, 46%);
    }
  
  .photo h3 {
    font-size: 1rem;
    margin-top: 1rem;
    font-weight: 400;
    color: hsl(227, 10%, 46%);
    }
  
